.entrada-plano {
	position: relative;
}

.butaca-seleccionada {
	position: absolute;
	display: none;
	cursor: pointer;
}

#numeroSeleccionada,#filaSeleccionada,#seccionSeleccionada {
	font-weight: bold;
}

.titulo-tipo {
	font-size: 18px;
	font-weight: bold;
}

#filtros {
	margin-bottom: 20px;	
}

#localizacion_platea1 {
	margin-top: 10px;
}

#tituloSeleccionadas h3 {
	display: inline;
}

#tituloSeleccionadas {
	margin-top: 20px;
	margin-bottom: 20px;
}

#limpiarSeleccion {
	display: none;
}

#divSeleccionadas {
	background: #EEE;
	padding: 15px;
}

#divSeleccionadas .titulo, #divSeleccionadas .fecha, #divSeleccionadas .hora {
	margin-top: 4px;
}

#divSeleccionadas .titulo {
	font-style: italic;
	font-weight: bold;
}

.entrada-seleccionada {
	background: #DDD;
	margin-top: 5px;
	padding: 5px;
}

#total {
	margin-top: 10px;
	margin-bottom: 10px;
}

#totalSeleccionadas {
	font-weight: bold;
}

select {
	width: auto !important;
}

input[type=text] {
	width: auto !important;
}
