.entrada-plano {
	position: relative;
}

.butaca-seleccionada {
	position: absolute;
	display: none;
	cursor: pointer;
}

#numeroSeleccionada,#filaSeleccionada,#seccionSeleccionada {
	font-weight: bold;
}

.titulo-tipo {
	font-size: 18px;
	font-weight: bold;
}

#filtros {
	margin-bottom: 20px;	
}

#localizacion_platea1 {
	margin-top: 10px;
}

#tituloSeleccionadas h3 {
	display: inline;
}

#tituloSeleccionadas {
	margin-top: 20px;
	margin-bottom: 20px;
}

#limpiarSeleccion {
	display: none;
}