@media only screen and (max-width: 900px) {
	.row {
		max-width: 850px;
		width: 850px;
	}
}

body {
	margin-top: 30px;
}

select {
	width: auto;
}

input[type=text] {
	width: auto;
}

.evento-sesiones {
	padding-top: 20px;
}

.evento-sesiones .comprarEntradas {
	background: #c12d13;
	text-align: center;
}

.evento-sesiones .contieneBoton {
	padding: 0px;
}

.evento-sesiones a {
	color: #FFFFFF;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.evento-sesiones table {
	border: 0px;
}

.evento-sesiones td {
	background: #EEEEEE;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.evento-sesiones td {
	vertical-align: middle;
	height: 32px;
}

.evento-imagen {
	float: left;
	margin-right: 10px;
}

.evento-imagen img {
	width: 400px;
}

.evento-tipo {
	margin-bottom: 16px;
}

.evento-titulo {
	font-size: 28px;
	font-style: italic;
	margin-bottom: 28px;
}

.evento-sesiones {
	clear: both;
}
