<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:spring-configured/>
    <context:component-scan base-package="es.uji"/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>file:/etc/uji/par/app.properties</value>
        </property>
    </bean>

    <tx:annotation-driven mode="aspectj" transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="dataSourceName" value="par"/>
        <property name="driverClass" value="${uji.db.driverClass}"/>
        <property name="jdbcUrl" value="${uji.db.jdbcUrl}"/>
        <property name="initialPoolSize" value="${uji.db.initialPoolSize:3}"/>
        <property name="maxPoolSize" value="${uji.db.maxPoolSize:15}"/>
        <property name="minPoolSize" value="${uji.db.minPoolSize:3}"/>
        <property name="acquireIncrement" value="${uji.db.acquireIncrement:3}"/>
        <property name="acquireRetryAttempts" value="${uji.db.acquireRetryAttempts:30}"/>
        <property name="maxIdleTime" value="${uji.db.maxIdleTime:0}"/>
        <property name="idleConnectionTestPeriod" value="${uji.db.idleConnectionTestPeriod:0}"/>
        <property name="checkoutTimeout" value="${uji.db.checkoutTimeout:0}"/>
        <property name="maxStatements" value="${uji.db.maxStatements:0}"/>
        <property name="properties">
            <props>
                <prop key="c3p0.max_size">${uji.db.maxPoolSize:15}</prop>
                <prop key="c3p0.min_size">${uji.db.minPoolSize:3}</prop>
                <prop key="c3p0.max_statements">${uji.db.maxStatements:0}</prop>
                <prop key="c3p0.preferredTestQuery">${uji.db.preferredTestQuery}</prop>
                <prop key="user">${uji.db.username}</prop>
                <prop key="password">${uji.db.password}</prop>
            </props>
        </property>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property ref="dataSource" name="dataSource"></property>
        <property name="persistenceUnitName" value="persistenceUnit"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="${uji.db.showSql:false}"/>
                <property name="databasePlatform">
                    <value>${uji.db.dialect}</value>
                </property>
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</prop>
                <prop key="hibernate.jdbc.batch_size">0</prop>
            </props>
        </property>
    </bean>

    <bean id="ConfigurationInterface" class="es.uji.apps.par.config.ConfigurationInFile"/>
    <bean id="Configuration" class="es.uji.apps.par.config.Configuration"/>
    <bean id="ConfigurationSelector" class="es.uji.apps.par.config.ConfigurationProperties"/>
    <bean id="cinesDAO" class="es.uji.apps.par.dao.CinesDAO"/>
    <bean id="butacasDAO" class="es.uji.apps.par.dao.ButacasDAO"/>
    <bean id="sesionesDAO" class="es.uji.apps.par.dao.SesionesDAO"/>
</beans>