.entrada-plano {
	position: relative;
	float:right;
}

.butaca-seleccionada {
	position: absolute;
	display: none;
	cursor: pointer;
}

#numeroSeleccionada,#filaSeleccionada,#seccionSeleccionada {
	font-weight: bold;
}

.titulo-tipo {
	font-size: 18px !important;
	font-weight: bold;
}

#filtros {
	margin-bottom: 20px;
}

.localizacion_platea1 {
	margin-top: 34px;
}

#tituloSeleccionadas h3 {
	display: inline;
}

#tituloSeleccionadas {
	margin-top: 20px;
	margin-bottom: 20px;
}

#limpiarSeleccion {
	display: none;
}

#divSeleccionadas {
	background: #EEE;
	padding: 15px;
	margin-top: 27px;
}

#divSeleccionadas .titulo,#divSeleccionadas .hora, #divSeleccionadas .fecha, #divSeleccionadas .localidades {
	margin-top: 4px;
}

 #divSeleccionadas .gastosGestion, #divSeleccionadas .totalEntradas {
	margin-top: 16px;
}

#divSeleccionadas .tituloEspectaculo {
	font-style: italic;
	font-weight: bold;
}

.entrada-seleccionada {
	background: #DDD;
	margin-top: 5px;
	padding: 5px;
}

#total {
	margin-top: 16px;
	margin-bottom: 10px;
}

select {
	width: auto !important;
	margin-right: 10px;
}

input[type=text] {
	/*width: auto !important;*/
}

#escenario {
	height: 80px;
	width: 300px;
	background: #EEE;
	margin: 10px 34px 10px 0px;
	text-align: center;
	font-size: 14pt !important;
	font-weight: bold;
	color: #666;
	display: table;
	float: right;
}

#escenario div {
	display: table-cell;
	vertical-align: middle;
}

#divButacas #anfiteatro {
	float: left;
	padding-top: 30px;
	font-size: 18pt !important;
	color: #666;
}

#divButacas #platea {
	float: left;
	clear: both;
	padding-top: 30px;
	font-size: 18pt !important;
	color: #666;
}

.localizacion_anfiteatro {
	margin-bottom: 7px;
}
.minimapa {
	border: solid 1px white;
	position:absolute;
	height:14px;
	width:9px;
	cursor: pointer;
}
.mapa {
    border: solid 1px white;
    position:absolute;
    height:28px;
    width:19px;
	cursor: pointer;
}
.mapaTexto {
	height:28px;
	width:19px;
	font-size: 12px !important;
}
.accionCompra {
	background-color: #6C809D !important;
}
.mapaLibre {
    background-color: #51D7E0;
}
.mapaOcupada {
    background-color: #E05C52;
}
.mapaPresentada {
    background-color: #3dff00;
}
.mapaSeleccionada {
    background-color: #CFCD1A;
}
.mapaReservada {
   background-color: #E05C52;
}
.mapaLibre.discap {
    background-image: url('images/discap.png');
}
.mapaOcupada.discap {
    background-image: url('images/discapOcupada.png');
}
.mapaSeleccionada.discap {
    background-image: url('images/discapSeleccionada.png');
}
.mapaReservada.discap {
	background-image: url('images/discapOcupada.png');
}

div[id^=localizacion] {
	display: none;
}

.miniarea{
}

.button-tooltip-primary {
	background-color: #6C809D;
	color: #E6E1CE;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-ms-border-radius: 3px !important;
	-o-border-radius: 3px !important;
	border-radius: 10px !important;
	width: 100% !important;
	padding: 6px;
	margin: 2px;
}