@media only screen and (max-width: 768px) {
	#butacasRoot {
		max-width: 850px;
		width: 850px;
	}
	#divSeleccionadas {
		width: 230px !important;
	}
	.evento-sesiones {
		padding-top: 0px !important;
		padding-left: 0px !important;
	}
}

body {
	
}

#divButacas {
	min-width: 666px;
}

#localizacion_anfiteatro {
	min-width: 378px;
}

#localizacion_platea1 {
	min-width: 551px;
}

#localizacion_platea1 {
	min-width: 608px;
}

#divSeleccionadas {
	font-size: 12pt !important;
}

.evento-imagen {
	float: left;
	margin-right: 20px;
}

.evento-imagen img {
	width: 350px;
}

.evento-tipo {
	font-size: 20pt !important;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 16px;
	padding-top: 30px;
}

.evento-titulo {
	font-size: 28px !important;
	color: #666;
	font-style: italic;
	margin-bottom: 28px;
}

.evento-descripcion {
	margin-top: 10px;
	margin-bottom: 60px;
}

.evento-sesiones {
	padding-top: 20px;
	padding-left: 250px;
}

.evento-sesiones table {
	width: auto;
}

.evento-sesiones table .diaEventoSesion {
	width: 80%;
	font-size: 11pt !important;
	color: #666;
}

.evento-sesiones .comprarEntradas {
	background: #c12d13;
	text-align: center;
}

.evento-sesiones .contieneBoton {
	padding: 0px;
	font-size: 10pt !important;
}

.evento-sesiones a {
	color: #FFFFFF;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.evento-sesiones table {
	border: 0px;
}

.evento-sesiones td {
	background: #EEEEEE;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.evento-sesiones td {
	vertical-align: middle;
	height: 32px;
}

#entradasDetalles {
	margin-bottom: 10px;
	font-size: 13pt !important;
	color: #666;
}

#infoPeriodica {
	margin-bottom: 50px;
	margin-top: 50px;
	color: #666;
}

#divCondicionesPrivacidad {
	margin-bottom: 50px;
	color: #666;
}

#divCondicionesPrivacidad, #divCondicionesPrivacidad span, #divCondicionesPrivacidad a {
	font-size: 11pt !important;
	font-weight: normal !important;
}

#divCondicionesPrivacidad a {
	color: #2795b6;
}

#observaciones {
	margin-bottom: 10px;
	color: #666;
}

#compraValida .botonera {
	margin-top: 30px;
	padding: 0px;
}

#compraValida #referencia, #compraValida #email {
	margin-top: 10px;
}

#compraValida #observaciones {
	margin-top: 20px;
}

#compraErronea a {
	margin-top: 30px;
	padding: 0px;
}

#compraErronea #observaciones {
	margin-top: 20px;
}

#totalNoNumeradas {
	background: #EEE;
	padding: 10px;
}

#totalNoNumeradas div {
	margin-top: 8px;
}

#lineaTotalNoNumeradas {
	font-size: 14pt !important;
	margin-top: 16px !important;
}

#totalNoNumeradas #total {
	font-weight: bold;
}

#botonPagarNoNumeradas{
	margin-top: 16px;
}

.tipoEventoButacas {
	font-size: 22pt !important;
	font-weight: bold;
	padding-bottom:2px;
}

.detallesSeleccionEntrada {
	font-size: 15pt !important;
	padding-bottom: 22px;
	color: #666;
}

.limiteTiempo {
	padding-bottom: 30px;
	color: #666;
}

.entrada-datos .campo {
	width: 100%;
	background-color: #DDD;
	margin-bottom: 10px;
	padding-bottom: 4px;
}

.entrada-datos .campo span {
	display: block;
    overflow: hidden;
    padding-right:10px;
}

.entrada-datos label {
	padding: 9px 10px 0 10px;
	float: left;
	font-weight: normal;
	color:#666;
}

.entrada-datos input {
	margin-bottom: 0px;
	width:100%;
	margin-top: 2px;
}

.entrada-datos input, #infoPeriodica input {
	background-color: #DDD;
	border: 0px;
	font-size: 11pt !important;
}

#infoPeriodica label {
	display: inline !important;
	color: #666;
	font-weight: normal !important;
}

#infoPeriodica input {
	display: inline !important;
}

#infoPeriodica span {
	font-size: 11pt !important;
}