<div th:fragment="butacasFragment" id="butacas">

	<link rel="stylesheet" type="text/css" th:attr="href=${baseUrl + '/css/butacas.css'}"></link>
	
	<script type="text/javascript" th:attr="src=${baseUrl + '/js/jquery-1.9.1.min.js'}"></script>
	<script type="text/javascript" th:attr="src=${baseUrl + '/js/jquery.json-2.4.min.js'}"></script>
	<script type="text/javascript" th:attr="src=${baseUrl + '/js/postmessage.js'}"></script>
	<script type="text/javascript" th:attr="src=${baseUrl + '/js/i18n/' + idioma + '.js'}"></script>			
	<script type="text/javascript" th:attr="src=${baseUrl + '/js/butacas.js'}"></script>
	
	<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
   		var baseUrl = /*[[${baseUrl}]]*/ "";
    	var sesionId = /*[[${sesion.id}]]*/"";
    
    	$('#butacas').hide();
    	
    	Butacas.init(baseUrl, sesionId);
    	
    	Butacas.cargaPrecios(function(precios){
    		console.log(precios);
    		$('#butacas').show();    		
    	});
    /*]]>*/
	</script>
	
	<input type="hidden" name="idSesion" th:value="${sesion.id}" value="" />
	<input type="hidden" name="butacasSeleccionadas" value="[]" />
	
	<span class="titulo-tipo" th:text="#{localizacion}">Localización</span>
	<select id="localizacion">
		<option value="platea1">Platea 1</option>
		<option value="platea2">Platea 2</option>
		<option value="anfiteatro">Anfiteatro</option>
	</select>

	<span class="titulo-tipo" th:text="#{tipo}">Tipo de entrada</span>
	<select id="tipo">
		<option value="normal" th:text="#{tipoNormal}">Normal</option>
		<option value="descuento" th:text="#{tipoDescuento}">Descuento</option>
	</select>
	
	<div id="localizacion_anfiteatro" class="entrada-plano">
		
		<map name="mapAnfiteatro">
<area shape="rect" coords="0,28,19,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 18, 0, 28)" />
<area shape="rect" coords="19,28,38,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 16, 19, 28)" />
<area shape="rect" coords="38,28,57,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 14, 38, 28)" />
<area shape="rect" coords="57,28,76,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 12, 57, 28)" />
<area shape="rect" coords="76,28,95,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 10, 76, 28)" />
<area shape="rect" coords="95,28,114,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 8, 95, 28)" />
<area shape="rect" coords="114,28,133,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 6, 114, 28)" />
<area shape="rect" coords="133,28,152,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 4, 133, 28)" />
<area shape="rect" coords="152,28,171,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 2, 152, 28)" />
<area shape="rect" coords="0,57,19,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 18, 0, 57)" />
<area shape="rect" coords="19,57,38,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 16, 19, 57)" />
<area shape="rect" coords="38,57,57,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 14, 38, 57)" />
<area shape="rect" coords="57,57,76,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 12, 57, 57)" />
<area shape="rect" coords="76,57,95,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 10, 76, 57)" />
<area shape="rect" coords="95,57,114,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 8, 95, 57)" />
<area shape="rect" coords="114,57,133,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 6, 114, 57)" />
<area shape="rect" coords="133,57,152,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 4, 133, 57)" />
<area shape="rect" coords="152,57,171,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 2, 152, 57)" />
<area shape="rect" coords="0,86,19,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 18, 0, 86)" />
<area shape="rect" coords="19,86,38,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 16, 19, 86)" />
<area shape="rect" coords="38,86,57,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 14, 38, 86)" />
<area shape="rect" coords="57,86,76,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 12, 57, 86)" />
<area shape="rect" coords="76,86,95,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 10, 76, 86)" />
<area shape="rect" coords="95,86,114,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 8, 95, 86)" />
<area shape="rect" coords="114,86,133,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 6, 114, 86)" />
<area shape="rect" coords="133,86,152,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 4, 133, 86)" />
<area shape="rect" coords="152,86,171,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 2, 152, 86)" />
<area shape="rect" coords="0,115,19,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 18, 0, 115)" />
<area shape="rect" coords="19,115,38,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 16, 19, 115)" />
<area shape="rect" coords="38,115,57,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 14, 38, 115)" />
<area shape="rect" coords="57,115,76,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 12, 57, 115)" />
<area shape="rect" coords="76,115,95,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 10, 76, 115)" />
<area shape="rect" coords="95,115,114,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 8, 95, 115)" />
<area shape="rect" coords="114,115,133,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 6, 114, 115)" />
<area shape="rect" coords="133,115,152,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 4, 133, 115)" />
<area shape="rect" coords="152,115,171,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 2, 152, 115)" />
<area shape="rect" coords="0,144,19,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 18, 0, 144)" />
<area shape="rect" coords="19,144,38,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 16, 19, 144)" />
<area shape="rect" coords="38,144,57,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 14, 38, 144)" />
<area shape="rect" coords="57,144,76,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 12, 57, 144)" />
<area shape="rect" coords="76,144,95,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 10, 76, 144)" />
<area shape="rect" coords="95,144,114,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 8, 95, 144)" />
<area shape="rect" coords="114,144,133,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 6, 114, 144)" />
<area shape="rect" coords="133,144,152,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 4, 133, 144)" />
<area shape="rect" coords="152,144,171,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 2, 152, 144)" />
<area shape="rect" coords="0,173,19,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 18, 0, 173)" />
<area shape="rect" coords="19,173,38,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 16, 19, 173)" />
<area shape="rect" coords="38,173,57,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 14, 38, 173)" />
<area shape="rect" coords="57,173,76,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 12, 57, 173)" />
<area shape="rect" coords="76,173,95,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 10, 76, 173)" />
<area shape="rect" coords="95,173,114,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 8, 95, 173)" />
<area shape="rect" coords="114,173,133,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 6, 114, 173)" />
<area shape="rect" coords="133,173,152,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 4, 133, 173)" />
<area shape="rect" coords="152,173,171,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 2, 152, 173)" />
<area shape="rect" coords="0,202,19,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 18, 0, 202)" />
<area shape="rect" coords="19,202,38,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 16, 19, 202)" />
<area shape="rect" coords="38,202,57,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 14, 38, 202)" />
<area shape="rect" coords="57,202,76,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 12, 57, 202)" />
<area shape="rect" coords="76,202,95,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 10, 76, 202)" />
<area shape="rect" coords="95,202,114,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 8, 95, 202)" />
<area shape="rect" coords="114,202,133,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 6, 114, 202)" />
<area shape="rect" coords="133,202,152,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 4, 133, 202)" />
<area shape="rect" coords="152,202,171,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 2, 152, 202)" />
<area shape="rect" coords="0,231,19,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 18, 0, 231)" />
<area shape="rect" coords="19,231,38,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 16, 19, 231)" />
<area shape="rect" coords="38,231,57,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 14, 38, 231)" />
<area shape="rect" coords="57,231,76,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 12, 57, 231)" />
<area shape="rect" coords="76,231,95,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 10, 76, 231)" />
<area shape="rect" coords="95,231,114,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 8, 95, 231)" />
<area shape="rect" coords="114,231,133,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 6, 114, 231)" />
<area shape="rect" coords="133,231,152,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 4, 133, 231)" />
<area shape="rect" coords="152,231,171,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 2, 152, 231)" />



<area shape="rect" coords="209,28,228,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 1, 209, 28)" />
<area shape="rect" coords="228,28,247,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 3, 228, 28)" />
<area shape="rect" coords="247,28,266,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 5, 247, 28)" />
<area shape="rect" coords="266,28,285,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 7, 266, 28)" />
<area shape="rect" coords="285,28,304,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 9, 285, 28)" />
<area shape="rect" coords="304,28,323,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 11, 304, 28)" />
<area shape="rect" coords="323,28,342,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 13, 323, 28)" />
<area shape="rect" coords="342,28,361,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 15, 342, 28)" />
<area shape="rect" coords="361,28,380,57" href="javascript:Butacas.selecciona('anfiteatro', 8, 17, 361, 28)" />
<area shape="rect" coords="209,57,228,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 1, 209, 57)" />
<area shape="rect" coords="228,57,247,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 3, 228, 57)" />
<area shape="rect" coords="247,57,266,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 5, 247, 57)" />
<area shape="rect" coords="266,57,285,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 7, 266, 57)" />
<area shape="rect" coords="285,57,304,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 9, 285, 57)" />
<area shape="rect" coords="304,57,323,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 11, 304, 57)" />
<area shape="rect" coords="323,57,342,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 13, 323, 57)" />
<area shape="rect" coords="342,57,361,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 15, 342, 57)" />
<area shape="rect" coords="361,57,380,86" href="javascript:Butacas.selecciona('anfiteatro', 7, 17, 361, 57)" />
<area shape="rect" coords="209,86,228,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 1, 209, 86)" />
<area shape="rect" coords="228,86,247,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 3, 228, 86)" />
<area shape="rect" coords="247,86,266,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 5, 247, 86)" />
<area shape="rect" coords="266,86,285,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 7, 266, 86)" />
<area shape="rect" coords="285,86,304,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 9, 285, 86)" />
<area shape="rect" coords="304,86,323,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 11, 304, 86)" />
<area shape="rect" coords="323,86,342,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 13, 323, 86)" />
<area shape="rect" coords="342,86,361,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 15, 342, 86)" />
<area shape="rect" coords="361,86,380,115" href="javascript:Butacas.selecciona('anfiteatro', 6, 17, 361, 86)" />
<area shape="rect" coords="209,115,228,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 1, 209, 115)" />
<area shape="rect" coords="228,115,247,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 3, 228, 115)" />
<area shape="rect" coords="247,115,266,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 5, 247, 115)" />
<area shape="rect" coords="266,115,285,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 7, 266, 115)" />
<area shape="rect" coords="285,115,304,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 9, 285, 115)" />
<area shape="rect" coords="304,115,323,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 11, 304, 115)" />
<area shape="rect" coords="323,115,342,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 13, 323, 115)" />
<area shape="rect" coords="342,115,361,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 15, 342, 115)" />
<area shape="rect" coords="361,115,380,144" href="javascript:Butacas.selecciona('anfiteatro', 5, 17, 361, 115)" />
<area shape="rect" coords="209,144,228,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 1, 209, 144)" />
<area shape="rect" coords="228,144,247,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 3, 228, 144)" />
<area shape="rect" coords="247,144,266,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 5, 247, 144)" />
<area shape="rect" coords="266,144,285,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 7, 266, 144)" />
<area shape="rect" coords="285,144,304,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 9, 285, 144)" />
<area shape="rect" coords="304,144,323,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 11, 304, 144)" />
<area shape="rect" coords="323,144,342,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 13, 323, 144)" />
<area shape="rect" coords="342,144,361,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 15, 342, 144)" />
<area shape="rect" coords="361,144,380,173" href="javascript:Butacas.selecciona('anfiteatro', 4, 17, 361, 144)" />
<area shape="rect" coords="209,173,228,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 1, 209, 173)" />
<area shape="rect" coords="228,173,247,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 3, 228, 173)" />
<area shape="rect" coords="247,173,266,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 5, 247, 173)" />
<area shape="rect" coords="266,173,285,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 7, 266, 173)" />
<area shape="rect" coords="285,173,304,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 9, 285, 173)" />
<area shape="rect" coords="304,173,323,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 11, 304, 173)" />
<area shape="rect" coords="323,173,342,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 13, 323, 173)" />
<area shape="rect" coords="342,173,361,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 15, 342, 173)" />
<area shape="rect" coords="361,173,380,202" href="javascript:Butacas.selecciona('anfiteatro', 3, 17, 361, 173)" />
<area shape="rect" coords="209,202,228,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 1, 209, 202)" />
<area shape="rect" coords="228,202,247,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 3, 228, 202)" />
<area shape="rect" coords="247,202,266,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 5, 247, 202)" />
<area shape="rect" coords="266,202,285,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 7, 266, 202)" />
<area shape="rect" coords="285,202,304,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 9, 285, 202)" />
<area shape="rect" coords="304,202,323,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 11, 304, 202)" />
<area shape="rect" coords="323,202,342,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 13, 323, 202)" />
<area shape="rect" coords="342,202,361,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 15, 342, 202)" />
<area shape="rect" coords="361,202,380,231" href="javascript:Butacas.selecciona('anfiteatro', 2, 17, 361, 202)" />
<area shape="rect" coords="209,231,228,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 1, 209, 231)" />
<area shape="rect" coords="228,231,247,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 3, 228, 231)" />
<area shape="rect" coords="247,231,266,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 5, 247, 231)" />
<area shape="rect" coords="266,231,285,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 7, 266, 231)" />
<area shape="rect" coords="285,231,304,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 9, 285, 231)" />
<area shape="rect" coords="304,231,323,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 11, 304, 231)" />
<area shape="rect" coords="323,231,342,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 13, 323, 231)" />
<area shape="rect" coords="342,231,361,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 15, 342, 231)" />
<area shape="rect" coords="361,231,380,260" href="javascript:Butacas.selecciona('anfiteatro', 1, 17, 361, 231)" />

		</map>
		
		<img id="imagen_anfiteatro" th:src="${baseUrl + '/rest/imagenes/butacas/' + sesion.id + '/anfiteatro'}" border="0" usemap="#mapAnfiteatro" />
	</div>
	
	<div id="localizacion_platea1" class="entrada-plano">
		<map name="mapPlatea1">

<area shape="rect" coords="77,2,96,31" href="javascript:Butacas.selecciona('platea1', 9, 22, 77, 2)" />
<area shape="rect" coords="96,2,115,31" href="javascript:Butacas.selecciona('platea1', 9, 20, 96, 2)" />
<area shape="rect" coords="115,2,134,31" href="javascript:Butacas.selecciona('platea1', 9, 18, 115, 2)" />
<area shape="rect" coords="134,2,153,31" href="javascript:Butacas.selecciona('platea1', 9, 16, 134, 2)" />
<area shape="rect" coords="153,2,172,31" href="javascript:Butacas.selecciona('platea1', 9, 14, 153, 2)" />
<area shape="rect" coords="172,2,191,31" href="javascript:Butacas.selecciona('platea1', 9, 12, 172, 2)" />
<area shape="rect" coords="191,2,210,31" href="javascript:Butacas.selecciona('platea1', 9, 10, 191, 2)" />
<area shape="rect" coords="210,2,229,31" href="javascript:Butacas.selecciona('platea1', 9, 8, 210, 2)" />
<area shape="rect" coords="229,2,248,31" href="javascript:Butacas.selecciona('platea1', 9, 6, 229, 2)" />
<area shape="rect" coords="248,2,267,31" href="javascript:Butacas.selecciona('platea1', 9, 4, 248, 2)" />
<area shape="rect" coords="267,2,286,31" href="javascript:Butacas.selecciona('platea1', 9, 2, 267, 2)" />
<area shape="rect" coords="1,31,20,60" href="javascript:Butacas.selecciona('platea1', 8, 30, 1, 31)" />
<area shape="rect" coords="20,31,39,60" href="javascript:Butacas.selecciona('platea1', 8, 28, 20, 31)" />
<area shape="rect" coords="39,31,58,60" href="javascript:Butacas.selecciona('platea1', 8, 26, 39, 31)" />
<area shape="rect" coords="58,31,77,60" href="javascript:Butacas.selecciona('platea1', 8, 24, 58, 31)" />
<area shape="rect" coords="77,31,96,60" href="javascript:Butacas.selecciona('platea1', 8, 22, 77, 31)" />
<area shape="rect" coords="96,31,115,60" href="javascript:Butacas.selecciona('platea1', 8, 20, 96, 31)" />
<area shape="rect" coords="115,31,134,60" href="javascript:Butacas.selecciona('platea1', 8, 18, 115, 31)" />
<area shape="rect" coords="134,31,153,60" href="javascript:Butacas.selecciona('platea1', 8, 16, 134, 31)" />
<area shape="rect" coords="153,31,172,60" href="javascript:Butacas.selecciona('platea1', 8, 14, 153, 31)" />
<area shape="rect" coords="172,31,191,60" href="javascript:Butacas.selecciona('platea1', 8, 12, 172, 31)" />
<area shape="rect" coords="191,31,210,60" href="javascript:Butacas.selecciona('platea1', 8, 10, 191, 31)" />
<area shape="rect" coords="210,31,229,60" href="javascript:Butacas.selecciona('platea1', 8, 8, 210, 31)" />
<area shape="rect" coords="229,31,248,60" href="javascript:Butacas.selecciona('platea1', 8, 6, 229, 31)" />
<area shape="rect" coords="248,31,267,60" href="javascript:Butacas.selecciona('platea1', 8, 4, 248, 31)" />
<area shape="rect" coords="267,31,286,60" href="javascript:Butacas.selecciona('platea1', 8, 2, 267, 31)" />
<area shape="rect" coords="1,60,20,89" href="javascript:Butacas.selecciona('platea1', 7, 30, 1, 60)" />
<area shape="rect" coords="20,60,39,89" href="javascript:Butacas.selecciona('platea1', 7, 28, 20, 60)" />
<area shape="rect" coords="39,60,58,89" href="javascript:Butacas.selecciona('platea1', 7, 26, 39, 60)" />
<area shape="rect" coords="58,60,77,89" href="javascript:Butacas.selecciona('platea1', 7, 24, 58, 60)" />
<area shape="rect" coords="77,60,96,89" href="javascript:Butacas.selecciona('platea1', 7, 22, 77, 60)" />
<area shape="rect" coords="96,60,115,89" href="javascript:Butacas.selecciona('platea1', 7, 20, 96, 60)" />
<area shape="rect" coords="115,60,134,89" href="javascript:Butacas.selecciona('platea1', 7, 18, 115, 60)" />
<area shape="rect" coords="134,60,153,89" href="javascript:Butacas.selecciona('platea1', 7, 16, 134, 60)" />
<area shape="rect" coords="153,60,172,89" href="javascript:Butacas.selecciona('platea1', 7, 14, 153, 60)" />
<area shape="rect" coords="172,60,191,89" href="javascript:Butacas.selecciona('platea1', 7, 12, 172, 60)" />
<area shape="rect" coords="191,60,210,89" href="javascript:Butacas.selecciona('platea1', 7, 10, 191, 60)" />
<area shape="rect" coords="210,60,229,89" href="javascript:Butacas.selecciona('platea1', 7, 8, 210, 60)" />
<area shape="rect" coords="229,60,248,89" href="javascript:Butacas.selecciona('platea1', 7, 6, 229, 60)" />
<area shape="rect" coords="248,60,267,89" href="javascript:Butacas.selecciona('platea1', 7, 4, 248, 60)" />
<area shape="rect" coords="267,60,286,89" href="javascript:Butacas.selecciona('platea1', 7, 2, 267, 60)" />
<area shape="rect" coords="1,89,20,118" href="javascript:Butacas.selecciona('platea1', 6, 30, 1, 89)" />
<area shape="rect" coords="20,89,39,118" href="javascript:Butacas.selecciona('platea1', 6, 28, 20, 89)" />
<area shape="rect" coords="39,89,58,118" href="javascript:Butacas.selecciona('platea1', 6, 26, 39, 89)" />
<area shape="rect" coords="58,89,77,118" href="javascript:Butacas.selecciona('platea1', 6, 24, 58, 89)" />
<area shape="rect" coords="77,89,96,118" href="javascript:Butacas.selecciona('platea1', 6, 22, 77, 89)" />
<area shape="rect" coords="96,89,115,118" href="javascript:Butacas.selecciona('platea1', 6, 20, 96, 89)" />
<area shape="rect" coords="115,89,134,118" href="javascript:Butacas.selecciona('platea1', 6, 18, 115, 89)" />
<area shape="rect" coords="134,89,153,118" href="javascript:Butacas.selecciona('platea1', 6, 16, 134, 89)" />
<area shape="rect" coords="153,89,172,118" href="javascript:Butacas.selecciona('platea1', 6, 14, 153, 89)" />
<area shape="rect" coords="172,89,191,118" href="javascript:Butacas.selecciona('platea1', 6, 12, 172, 89)" />
<area shape="rect" coords="191,89,210,118" href="javascript:Butacas.selecciona('platea1', 6, 10, 191, 89)" />
<area shape="rect" coords="210,89,229,118" href="javascript:Butacas.selecciona('platea1', 6, 8, 210, 89)" />
<area shape="rect" coords="229,89,248,118" href="javascript:Butacas.selecciona('platea1', 6, 6, 229, 89)" />
<area shape="rect" coords="248,89,267,118" href="javascript:Butacas.selecciona('platea1', 6, 4, 248, 89)" />
<area shape="rect" coords="267,89,286,118" href="javascript:Butacas.selecciona('platea1', 6, 2, 267, 89)" />
<area shape="rect" coords="1,118,20,147" href="javascript:Butacas.selecciona('platea1', 5, 30, 1, 118)" />
<area shape="rect" coords="20,118,39,147" href="javascript:Butacas.selecciona('platea1', 5, 28, 20, 118)" />
<area shape="rect" coords="39,118,58,147" href="javascript:Butacas.selecciona('platea1', 5, 26, 39, 118)" />
<area shape="rect" coords="58,118,77,147" href="javascript:Butacas.selecciona('platea1', 5, 24, 58, 118)" />
<area shape="rect" coords="77,118,96,147" href="javascript:Butacas.selecciona('platea1', 5, 22, 77, 118)" />
<area shape="rect" coords="96,118,115,147" href="javascript:Butacas.selecciona('platea1', 5, 20, 96, 118)" />
<area shape="rect" coords="115,118,134,147" href="javascript:Butacas.selecciona('platea1', 5, 18, 115, 118)" />
<area shape="rect" coords="134,118,153,147" href="javascript:Butacas.selecciona('platea1', 5, 16, 134, 118)" />
<area shape="rect" coords="153,118,172,147" href="javascript:Butacas.selecciona('platea1', 5, 14, 153, 118)" />
<area shape="rect" coords="172,118,191,147" href="javascript:Butacas.selecciona('platea1', 5, 12, 172, 118)" />
<area shape="rect" coords="191,118,210,147" href="javascript:Butacas.selecciona('platea1', 5, 10, 191, 118)" />
<area shape="rect" coords="210,118,229,147" href="javascript:Butacas.selecciona('platea1', 5, 8, 210, 118)" />
<area shape="rect" coords="229,118,248,147" href="javascript:Butacas.selecciona('platea1', 5, 6, 229, 118)" />
<area shape="rect" coords="248,118,267,147" href="javascript:Butacas.selecciona('platea1', 5, 4, 248, 118)" />
<area shape="rect" coords="267,118,286,147" href="javascript:Butacas.selecciona('platea1', 5, 2, 267, 118)" />
<area shape="rect" coords="1,147,20,176" href="javascript:Butacas.selecciona('platea1', 4, 30, 1, 147)" />
<area shape="rect" coords="20,147,39,176" href="javascript:Butacas.selecciona('platea1', 4, 28, 20, 147)" />
<area shape="rect" coords="39,147,58,176" href="javascript:Butacas.selecciona('platea1', 4, 26, 39, 147)" />
<area shape="rect" coords="58,147,77,176" href="javascript:Butacas.selecciona('platea1', 4, 24, 58, 147)" />
<area shape="rect" coords="77,147,96,176" href="javascript:Butacas.selecciona('platea1', 4, 22, 77, 147)" />
<area shape="rect" coords="96,147,115,176" href="javascript:Butacas.selecciona('platea1', 4, 20, 96, 147)" />
<area shape="rect" coords="115,147,134,176" href="javascript:Butacas.selecciona('platea1', 4, 18, 115, 147)" />
<area shape="rect" coords="134,147,153,176" href="javascript:Butacas.selecciona('platea1', 4, 16, 134, 147)" />
<area shape="rect" coords="153,147,172,176" href="javascript:Butacas.selecciona('platea1', 4, 14, 153, 147)" />
<area shape="rect" coords="172,147,191,176" href="javascript:Butacas.selecciona('platea1', 4, 12, 172, 147)" />
<area shape="rect" coords="191,147,210,176" href="javascript:Butacas.selecciona('platea1', 4, 10, 191, 147)" />
<area shape="rect" coords="210,147,229,176" href="javascript:Butacas.selecciona('platea1', 4, 8, 210, 147)" />
<area shape="rect" coords="229,147,248,176" href="javascript:Butacas.selecciona('platea1', 4, 6, 229, 147)" />
<area shape="rect" coords="248,147,267,176" href="javascript:Butacas.selecciona('platea1', 4, 4, 248, 147)" />
<area shape="rect" coords="267,147,286,176" href="javascript:Butacas.selecciona('platea1', 4, 2, 267, 147)" />
<area shape="rect" coords="1,176,20,205" href="javascript:Butacas.selecciona('platea1', 3, 30, 1, 176)" />
<area shape="rect" coords="20,176,39,205" href="javascript:Butacas.selecciona('platea1', 3, 28, 20, 176)" />
<area shape="rect" coords="39,176,58,205" href="javascript:Butacas.selecciona('platea1', 3, 26, 39, 176)" />
<area shape="rect" coords="58,176,77,205" href="javascript:Butacas.selecciona('platea1', 3, 24, 58, 176)" />
<area shape="rect" coords="77,176,96,205" href="javascript:Butacas.selecciona('platea1', 3, 22, 77, 176)" />
<area shape="rect" coords="96,176,115,205" href="javascript:Butacas.selecciona('platea1', 3, 20, 96, 176)" />
<area shape="rect" coords="115,176,134,205" href="javascript:Butacas.selecciona('platea1', 3, 18, 115, 176)" />
<area shape="rect" coords="134,176,153,205" href="javascript:Butacas.selecciona('platea1', 3, 16, 134, 176)" />
<area shape="rect" coords="153,176,172,205" href="javascript:Butacas.selecciona('platea1', 3, 14, 153, 176)" />
<area shape="rect" coords="172,176,191,205" href="javascript:Butacas.selecciona('platea1', 3, 12, 172, 176)" />
<area shape="rect" coords="191,176,210,205" href="javascript:Butacas.selecciona('platea1', 3, 10, 191, 176)" />
<area shape="rect" coords="210,176,229,205" href="javascript:Butacas.selecciona('platea1', 3, 8, 210, 176)" />
<area shape="rect" coords="229,176,248,205" href="javascript:Butacas.selecciona('platea1', 3, 6, 229, 176)" />
<area shape="rect" coords="248,176,267,205" href="javascript:Butacas.selecciona('platea1', 3, 4, 248, 176)" />
<area shape="rect" coords="267,176,286,205" href="javascript:Butacas.selecciona('platea1', 3, 2, 267, 176)" />
<area shape="rect" coords="1,205,20,234" href="javascript:Butacas.selecciona('platea1', 2, 30, 1, 205)" />
<area shape="rect" coords="20,205,39,234" href="javascript:Butacas.selecciona('platea1', 2, 28, 20, 205)" />
<area shape="rect" coords="39,205,58,234" href="javascript:Butacas.selecciona('platea1', 2, 26, 39, 205)" />
<area shape="rect" coords="58,205,77,234" href="javascript:Butacas.selecciona('platea1', 2, 24, 58, 205)" />
<area shape="rect" coords="77,205,96,234" href="javascript:Butacas.selecciona('platea1', 2, 22, 77, 205)" />
<area shape="rect" coords="96,205,115,234" href="javascript:Butacas.selecciona('platea1', 2, 20, 96, 205)" />
<area shape="rect" coords="115,205,134,234" href="javascript:Butacas.selecciona('platea1', 2, 18, 115, 205)" />
<area shape="rect" coords="134,205,153,234" href="javascript:Butacas.selecciona('platea1', 2, 16, 134, 205)" />
<area shape="rect" coords="153,205,172,234" href="javascript:Butacas.selecciona('platea1', 2, 14, 153, 205)" />
<area shape="rect" coords="172,205,191,234" href="javascript:Butacas.selecciona('platea1', 2, 12, 172, 205)" />
<area shape="rect" coords="191,205,210,234" href="javascript:Butacas.selecciona('platea1', 2, 10, 191, 205)" />
<area shape="rect" coords="210,205,229,234" href="javascript:Butacas.selecciona('platea1', 2, 8, 210, 205)" />
<area shape="rect" coords="229,205,248,234" href="javascript:Butacas.selecciona('platea1', 2, 6, 229, 205)" />
<area shape="rect" coords="248,205,267,234" href="javascript:Butacas.selecciona('platea1', 2, 4, 248, 205)" />
<area shape="rect" coords="267,205,286,234" href="javascript:Butacas.selecciona('platea1', 2, 2, 267, 205)" />
<area shape="rect" coords="1,234,20,263" href="javascript:Butacas.selecciona('platea1', 1, 30, 1, 234)" />
<area shape="rect" coords="20,234,39,263" href="javascript:Butacas.selecciona('platea1', 1, 28, 20, 234)" />
<area shape="rect" coords="39,234,58,263" href="javascript:Butacas.selecciona('platea1', 1, 26, 39, 234)" />
<area shape="rect" coords="58,234,77,263" href="javascript:Butacas.selecciona('platea1', 1, 24, 58, 234)" />
<area shape="rect" coords="77,234,96,263" href="javascript:Butacas.selecciona('platea1', 1, 22, 77, 234)" />
<area shape="rect" coords="96,234,115,263" href="javascript:Butacas.selecciona('platea1', 1, 20, 96, 234)" />
<area shape="rect" coords="115,234,134,263" href="javascript:Butacas.selecciona('platea1', 1, 18, 115, 234)" />
<area shape="rect" coords="134,234,153,263" href="javascript:Butacas.selecciona('platea1', 1, 16, 134, 234)" />
<area shape="rect" coords="153,234,172,263" href="javascript:Butacas.selecciona('platea1', 1, 14, 153, 234)" />
<area shape="rect" coords="172,234,191,263" href="javascript:Butacas.selecciona('platea1', 1, 12, 172, 234)" />
<area shape="rect" coords="191,234,210,263" href="javascript:Butacas.selecciona('platea1', 1, 10, 191, 234)" />
<area shape="rect" coords="210,234,229,263" href="javascript:Butacas.selecciona('platea1', 1, 8, 210, 234)" />
<area shape="rect" coords="229,234,248,263" href="javascript:Butacas.selecciona('platea1', 1, 6, 229, 234)" />
<area shape="rect" coords="248,234,267,263" href="javascript:Butacas.selecciona('platea1', 1, 4, 248, 234)" />
<area shape="rect" coords="267,234,286,263" href="javascript:Butacas.selecciona('platea1', 1, 2, 267, 234)" />




<area shape="rect" coords="324,2,343,31" href="javascript:Butacas.selecciona('platea1', 9, 1, 324, 2)" />
<area shape="rect" coords="343,2,362,31" href="javascript:Butacas.selecciona('platea1', 9, 3, 343, 2)" />
<area shape="rect" coords="362,2,381,31" href="javascript:Butacas.selecciona('platea1', 9, 5, 362, 2)" />
<area shape="rect" coords="381,2,400,31" href="javascript:Butacas.selecciona('platea1', 9, 7, 381, 2)" />
<area shape="rect" coords="400,2,419,31" href="javascript:Butacas.selecciona('platea1', 9, 9, 400, 2)" />
<area shape="rect" coords="419,2,438,31" href="javascript:Butacas.selecciona('platea1', 9, 11, 419, 2)" />
<area shape="rect" coords="438,2,457,31" href="javascript:Butacas.selecciona('platea1', 9, 13, 438, 2)" />
<area shape="rect" coords="457,2,476,31" href="javascript:Butacas.selecciona('platea1', 9, 15, 457, 2)" />
<area shape="rect" coords="476,2,495,31" href="javascript:Butacas.selecciona('platea1', 9, 17, 476, 2)" />
<area shape="rect" coords="495,2,514,31" href="javascript:Butacas.selecciona('platea1', 9, 19, 495, 2)" />
<area shape="rect" coords="514,2,533,31" href="javascript:Butacas.selecciona('platea1', 9, 21, 514, 2)" />
<area shape="rect" coords="533,2,552,31" href="javascript:Butacas.selecciona('platea1', 9, 23, 533, 2)" />
<area shape="rect" coords="552,2,571,31" href="javascript:Butacas.selecciona('platea1', 9, 25, 552, 2)" />
<area shape="rect" coords="571,2,590,31" href="javascript:Butacas.selecciona('platea1', 9, 27, 571, 2)" />
<area shape="rect" coords="590,2,609,31" href="javascript:Butacas.selecciona('platea1', 9, 29, 590, 2)" />
<area shape="rect" coords="324,31,343,60" href="javascript:Butacas.selecciona('platea1', 8, 1, 324, 31)" />
<area shape="rect" coords="343,31,362,60" href="javascript:Butacas.selecciona('platea1', 8, 3, 343, 31)" />
<area shape="rect" coords="362,31,381,60" href="javascript:Butacas.selecciona('platea1', 8, 5, 362, 31)" />
<area shape="rect" coords="381,31,400,60" href="javascript:Butacas.selecciona('platea1', 8, 7, 381, 31)" />
<area shape="rect" coords="400,31,419,60" href="javascript:Butacas.selecciona('platea1', 8, 9, 400, 31)" />
<area shape="rect" coords="419,31,438,60" href="javascript:Butacas.selecciona('platea1', 8, 11, 419, 31)" />
<area shape="rect" coords="438,31,457,60" href="javascript:Butacas.selecciona('platea1', 8, 13, 438, 31)" />
<area shape="rect" coords="457,31,476,60" href="javascript:Butacas.selecciona('platea1', 8, 15, 457, 31)" />
<area shape="rect" coords="476,31,495,60" href="javascript:Butacas.selecciona('platea1', 8, 17, 476, 31)" />
<area shape="rect" coords="495,31,514,60" href="javascript:Butacas.selecciona('platea1', 8, 19, 495, 31)" />
<area shape="rect" coords="514,31,533,60" href="javascript:Butacas.selecciona('platea1', 8, 21, 514, 31)" />
<area shape="rect" coords="533,31,552,60" href="javascript:Butacas.selecciona('platea1', 8, 23, 533, 31)" />
<area shape="rect" coords="552,31,571,60" href="javascript:Butacas.selecciona('platea1', 8, 25, 552, 31)" />
<area shape="rect" coords="571,31,590,60" href="javascript:Butacas.selecciona('platea1', 8, 27, 571, 31)" />
<area shape="rect" coords="590,31,609,60" href="javascript:Butacas.selecciona('platea1', 8, 29, 590, 31)" />
<area shape="rect" coords="324,60,343,89" href="javascript:Butacas.selecciona('platea1', 7, 1, 324, 60)" />
<area shape="rect" coords="343,60,362,89" href="javascript:Butacas.selecciona('platea1', 7, 3, 343, 60)" />
<area shape="rect" coords="362,60,381,89" href="javascript:Butacas.selecciona('platea1', 7, 5, 362, 60)" />
<area shape="rect" coords="381,60,400,89" href="javascript:Butacas.selecciona('platea1', 7, 7, 381, 60)" />
<area shape="rect" coords="400,60,419,89" href="javascript:Butacas.selecciona('platea1', 7, 9, 400, 60)" />
<area shape="rect" coords="419,60,438,89" href="javascript:Butacas.selecciona('platea1', 7, 11, 419, 60)" />
<area shape="rect" coords="438,60,457,89" href="javascript:Butacas.selecciona('platea1', 7, 13, 438, 60)" />
<area shape="rect" coords="457,60,476,89" href="javascript:Butacas.selecciona('platea1', 7, 15, 457, 60)" />
<area shape="rect" coords="476,60,495,89" href="javascript:Butacas.selecciona('platea1', 7, 17, 476, 60)" />
<area shape="rect" coords="495,60,514,89" href="javascript:Butacas.selecciona('platea1', 7, 19, 495, 60)" />
<area shape="rect" coords="514,60,533,89" href="javascript:Butacas.selecciona('platea1', 7, 21, 514, 60)" />
<area shape="rect" coords="533,60,552,89" href="javascript:Butacas.selecciona('platea1', 7, 23, 533, 60)" />
<area shape="rect" coords="552,60,571,89" href="javascript:Butacas.selecciona('platea1', 7, 25, 552, 60)" />
<area shape="rect" coords="571,60,590,89" href="javascript:Butacas.selecciona('platea1', 7, 27, 571, 60)" />
<area shape="rect" coords="590,60,609,89" href="javascript:Butacas.selecciona('platea1', 7, 29, 590, 60)" />
<area shape="rect" coords="324,89,343,118" href="javascript:Butacas.selecciona('platea1', 6, 1, 324, 89)" />
<area shape="rect" coords="343,89,362,118" href="javascript:Butacas.selecciona('platea1', 6, 3, 343, 89)" />
<area shape="rect" coords="362,89,381,118" href="javascript:Butacas.selecciona('platea1', 6, 5, 362, 89)" />
<area shape="rect" coords="381,89,400,118" href="javascript:Butacas.selecciona('platea1', 6, 7, 381, 89)" />
<area shape="rect" coords="400,89,419,118" href="javascript:Butacas.selecciona('platea1', 6, 9, 400, 89)" />
<area shape="rect" coords="419,89,438,118" href="javascript:Butacas.selecciona('platea1', 6, 11, 419, 89)" />
<area shape="rect" coords="438,89,457,118" href="javascript:Butacas.selecciona('platea1', 6, 13, 438, 89)" />
<area shape="rect" coords="457,89,476,118" href="javascript:Butacas.selecciona('platea1', 6, 15, 457, 89)" />
<area shape="rect" coords="476,89,495,118" href="javascript:Butacas.selecciona('platea1', 6, 17, 476, 89)" />
<area shape="rect" coords="495,89,514,118" href="javascript:Butacas.selecciona('platea1', 6, 19, 495, 89)" />
<area shape="rect" coords="514,89,533,118" href="javascript:Butacas.selecciona('platea1', 6, 21, 514, 89)" />
<area shape="rect" coords="533,89,552,118" href="javascript:Butacas.selecciona('platea1', 6, 23, 533, 89)" />
<area shape="rect" coords="552,89,571,118" href="javascript:Butacas.selecciona('platea1', 6, 25, 552, 89)" />
<area shape="rect" coords="571,89,590,118" href="javascript:Butacas.selecciona('platea1', 6, 27, 571, 89)" />
<area shape="rect" coords="590,89,609,118" href="javascript:Butacas.selecciona('platea1', 6, 29, 590, 89)" />
<area shape="rect" coords="324,118,343,147" href="javascript:Butacas.selecciona('platea1', 5, 1, 324, 118)" />
<area shape="rect" coords="343,118,362,147" href="javascript:Butacas.selecciona('platea1', 5, 3, 343, 118)" />
<area shape="rect" coords="362,118,381,147" href="javascript:Butacas.selecciona('platea1', 5, 5, 362, 118)" />
<area shape="rect" coords="381,118,400,147" href="javascript:Butacas.selecciona('platea1', 5, 7, 381, 118)" />
<area shape="rect" coords="400,118,419,147" href="javascript:Butacas.selecciona('platea1', 5, 9, 400, 118)" />
<area shape="rect" coords="419,118,438,147" href="javascript:Butacas.selecciona('platea1', 5, 11, 419, 118)" />
<area shape="rect" coords="438,118,457,147" href="javascript:Butacas.selecciona('platea1', 5, 13, 438, 118)" />
<area shape="rect" coords="457,118,476,147" href="javascript:Butacas.selecciona('platea1', 5, 15, 457, 118)" />
<area shape="rect" coords="476,118,495,147" href="javascript:Butacas.selecciona('platea1', 5, 17, 476, 118)" />
<area shape="rect" coords="495,118,514,147" href="javascript:Butacas.selecciona('platea1', 5, 19, 495, 118)" />
<area shape="rect" coords="514,118,533,147" href="javascript:Butacas.selecciona('platea1', 5, 21, 514, 118)" />
<area shape="rect" coords="533,118,552,147" href="javascript:Butacas.selecciona('platea1', 5, 23, 533, 118)" />
<area shape="rect" coords="552,118,571,147" href="javascript:Butacas.selecciona('platea1', 5, 25, 552, 118)" />
<area shape="rect" coords="571,118,590,147" href="javascript:Butacas.selecciona('platea1', 5, 27, 571, 118)" />
<area shape="rect" coords="590,118,609,147" href="javascript:Butacas.selecciona('platea1', 5, 29, 590, 118)" />
<area shape="rect" coords="324,147,343,176" href="javascript:Butacas.selecciona('platea1', 4, 1, 324, 147)" />
<area shape="rect" coords="343,147,362,176" href="javascript:Butacas.selecciona('platea1', 4, 3, 343, 147)" />
<area shape="rect" coords="362,147,381,176" href="javascript:Butacas.selecciona('platea1', 4, 5, 362, 147)" />
<area shape="rect" coords="381,147,400,176" href="javascript:Butacas.selecciona('platea1', 4, 7, 381, 147)" />
<area shape="rect" coords="400,147,419,176" href="javascript:Butacas.selecciona('platea1', 4, 9, 400, 147)" />
<area shape="rect" coords="419,147,438,176" href="javascript:Butacas.selecciona('platea1', 4, 11, 419, 147)" />
<area shape="rect" coords="438,147,457,176" href="javascript:Butacas.selecciona('platea1', 4, 13, 438, 147)" />
<area shape="rect" coords="457,147,476,176" href="javascript:Butacas.selecciona('platea1', 4, 15, 457, 147)" />
<area shape="rect" coords="476,147,495,176" href="javascript:Butacas.selecciona('platea1', 4, 17, 476, 147)" />
<area shape="rect" coords="495,147,514,176" href="javascript:Butacas.selecciona('platea1', 4, 19, 495, 147)" />
<area shape="rect" coords="514,147,533,176" href="javascript:Butacas.selecciona('platea1', 4, 21, 514, 147)" />
<area shape="rect" coords="533,147,552,176" href="javascript:Butacas.selecciona('platea1', 4, 23, 533, 147)" />
<area shape="rect" coords="552,147,571,176" href="javascript:Butacas.selecciona('platea1', 4, 25, 552, 147)" />
<area shape="rect" coords="571,147,590,176" href="javascript:Butacas.selecciona('platea1', 4, 27, 571, 147)" />
<area shape="rect" coords="590,147,609,176" href="javascript:Butacas.selecciona('platea1', 4, 29, 590, 147)" />
<area shape="rect" coords="324,176,343,205" href="javascript:Butacas.selecciona('platea1', 3, 1, 324, 176)" />
<area shape="rect" coords="343,176,362,205" href="javascript:Butacas.selecciona('platea1', 3, 3, 343, 176)" />
<area shape="rect" coords="362,176,381,205" href="javascript:Butacas.selecciona('platea1', 3, 5, 362, 176)" />
<area shape="rect" coords="381,176,400,205" href="javascript:Butacas.selecciona('platea1', 3, 7, 381, 176)" />
<area shape="rect" coords="400,176,419,205" href="javascript:Butacas.selecciona('platea1', 3, 9, 400, 176)" />
<area shape="rect" coords="419,176,438,205" href="javascript:Butacas.selecciona('platea1', 3, 11, 419, 176)" />
<area shape="rect" coords="438,176,457,205" href="javascript:Butacas.selecciona('platea1', 3, 13, 438, 176)" />
<area shape="rect" coords="457,176,476,205" href="javascript:Butacas.selecciona('platea1', 3, 15, 457, 176)" />
<area shape="rect" coords="476,176,495,205" href="javascript:Butacas.selecciona('platea1', 3, 17, 476, 176)" />
<area shape="rect" coords="495,176,514,205" href="javascript:Butacas.selecciona('platea1', 3, 19, 495, 176)" />
<area shape="rect" coords="514,176,533,205" href="javascript:Butacas.selecciona('platea1', 3, 21, 514, 176)" />
<area shape="rect" coords="533,176,552,205" href="javascript:Butacas.selecciona('platea1', 3, 23, 533, 176)" />
<area shape="rect" coords="552,176,571,205" href="javascript:Butacas.selecciona('platea1', 3, 25, 552, 176)" />
<area shape="rect" coords="571,176,590,205" href="javascript:Butacas.selecciona('platea1', 3, 27, 571, 176)" />
<area shape="rect" coords="590,176,609,205" href="javascript:Butacas.selecciona('platea1', 3, 29, 590, 176)" />
<area shape="rect" coords="324,205,343,234" href="javascript:Butacas.selecciona('platea1', 2, 1, 324, 205)" />
<area shape="rect" coords="343,205,362,234" href="javascript:Butacas.selecciona('platea1', 2, 3, 343, 205)" />
<area shape="rect" coords="362,205,381,234" href="javascript:Butacas.selecciona('platea1', 2, 5, 362, 205)" />
<area shape="rect" coords="381,205,400,234" href="javascript:Butacas.selecciona('platea1', 2, 7, 381, 205)" />
<area shape="rect" coords="400,205,419,234" href="javascript:Butacas.selecciona('platea1', 2, 9, 400, 205)" />
<area shape="rect" coords="419,205,438,234" href="javascript:Butacas.selecciona('platea1', 2, 11, 419, 205)" />
<area shape="rect" coords="438,205,457,234" href="javascript:Butacas.selecciona('platea1', 2, 13, 438, 205)" />
<area shape="rect" coords="457,205,476,234" href="javascript:Butacas.selecciona('platea1', 2, 15, 457, 205)" />
<area shape="rect" coords="476,205,495,234" href="javascript:Butacas.selecciona('platea1', 2, 17, 476, 205)" />
<area shape="rect" coords="495,205,514,234" href="javascript:Butacas.selecciona('platea1', 2, 19, 495, 205)" />
<area shape="rect" coords="514,205,533,234" href="javascript:Butacas.selecciona('platea1', 2, 21, 514, 205)" />
<area shape="rect" coords="533,205,552,234" href="javascript:Butacas.selecciona('platea1', 2, 23, 533, 205)" />
<area shape="rect" coords="552,205,571,234" href="javascript:Butacas.selecciona('platea1', 2, 25, 552, 205)" />
<area shape="rect" coords="571,205,590,234" href="javascript:Butacas.selecciona('platea1', 2, 27, 571, 205)" />
<area shape="rect" coords="590,205,609,234" href="javascript:Butacas.selecciona('platea1', 2, 29, 590, 205)" />
<area shape="rect" coords="324,234,343,263" href="javascript:Butacas.selecciona('platea1', 1, 1, 324, 234)" />
<area shape="rect" coords="343,234,362,263" href="javascript:Butacas.selecciona('platea1', 1, 3, 343, 234)" />
<area shape="rect" coords="362,234,381,263" href="javascript:Butacas.selecciona('platea1', 1, 5, 362, 234)" />
<area shape="rect" coords="381,234,400,263" href="javascript:Butacas.selecciona('platea1', 1, 7, 381, 234)" />
<area shape="rect" coords="400,234,419,263" href="javascript:Butacas.selecciona('platea1', 1, 9, 400, 234)" />
<area shape="rect" coords="419,234,438,263" href="javascript:Butacas.selecciona('platea1', 1, 11, 419, 234)" />
<area shape="rect" coords="438,234,457,263" href="javascript:Butacas.selecciona('platea1', 1, 13, 438, 234)" />
<area shape="rect" coords="457,234,476,263" href="javascript:Butacas.selecciona('platea1', 1, 15, 457, 234)" />
<area shape="rect" coords="476,234,495,263" href="javascript:Butacas.selecciona('platea1', 1, 17, 476, 234)" />
<area shape="rect" coords="495,234,514,263" href="javascript:Butacas.selecciona('platea1', 1, 19, 495, 234)" />
<area shape="rect" coords="514,234,533,263" href="javascript:Butacas.selecciona('platea1', 1, 21, 514, 234)" />
<area shape="rect" coords="533,234,552,263" href="javascript:Butacas.selecciona('platea1', 1, 23, 533, 234)" />
<area shape="rect" coords="552,234,571,263" href="javascript:Butacas.selecciona('platea1', 1, 25, 552, 234)" />
<area shape="rect" coords="571,234,590,263" href="javascript:Butacas.selecciona('platea1', 1, 27, 571, 234)" />
<area shape="rect" coords="590,234,609,263" href="javascript:Butacas.selecciona('platea1', 1, 29, 590, 234)" />

		</map>
	
		<img id="imagen_platea1" th:src="${baseUrl + '/rest/imagenes/butacas/' + sesion.id + '/platea1'}" border="0" usemap="#mapPlatea1" />
	</div>
	
	<h3 th:text="#{detallesSeleccionadas}">Butacas seleccionadas</h3>
	<div id="detallesSeleccionadas"></div>
</div>