<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../../css/estilo.css"></link>
</head>
<body>
	<h1 th:text="#{titulo}">Compra correcta - Entrada NO válida</h1>
	
	<h2 th:text="#{mensajes}">Compra realizada con éxito</h2>

	<div class="compra-referencia">
		<span th:text="#{referencia}">Referencia:</span> XXXXXXX
	</div>
		
	<div class="compra-sesion">
		<span th:text="#{tituloObra}">Título:</span> <span></span>
		<span th:text="#{fecha}">Fecha:</span> <span></span>
		<span th:text="#{hora}">Hora:</span> <span></span>
	</div>
	
	<h2 th:text="#{explicacion}">Este documento no es una entrada válida. Se ha de verificar el tipo de entrada elegido en las taquillas del Paraninfo</h2>
	
</body>
</html>
