<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="paranimf/common :: headerFragment"/>
	<body>
		<div class="row">
			<div class="six columns centered" id="compraValida">
				<h3 th:text="#{mensajes}">Compra realizada con éxito</h3>
				
				<div id="referencia"><span th:text="#{referencia}">Referencia: </span> <strong><span th:text="${referencia}"></span></strong></div>
				<div id="email"><span th:text="#{email}">Email: </span> <strong><span th:text="${email}"></span></strong></div>
				<div id="observaciones" th:text="#{observaciones}"></div>
			
				<div class="botonera row twelve columns centered">
					<a class="five columns button button-flat-primary" th:href="${url}" target="_blank" th:text="#{imprimirEntrada}">Imprimir entrada</a>
					<a class="five columns button button-flat-primary" th:href="${urlComoLlegar}" target="_blank" th:text="#{comoLlegar}">Como llegar</a>
				</div>
			</div>	
		</div>
	</body>
</html>