<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="paranimf/common :: headerFragment"/>
<body>
	<div class="row">
		<div class="twelve columns">
			<div class="evento-imagen">
				<img th:src="${evento.id} + '/imagen'" />
			</div>
			<div class="evento-detalles">
				<div class="evento-titulo"><span th:text="${tipoEvento}"></span>: <span th:text="${titulo}"></span></div>
				<div class="evento-companyia" th:text="${companyia}"></div>
				<div class="evento-duracion" th:text="${duracion}"></div>
				<div class="evento-caracteristicas"
					th:text="${caracteristicas}"></div>
				<div class="evento-premios" th:text="${premios}"></div>
				<div class="evento-interpretes" th:text="${interpretes}"></div>
				<div class="evento-descripcion" th:text="${descripcion}"></div>
			</div>
			<div class="evento-sesiones">
				<table>
					<tr th:each="sesion : ${sesionesPlantilla}">
						<td>
							<span th:text="${sesion.texto}"></span>
						</td>	
						<td th:class="${sesion.clase}">
							<div th:if="${sesion.canalInternet} != 1">
								<span th:text="#{comprarEntradasNoDisponiblesInternet}">No disponibles por internet</span>
							</div>
							<div th:if="${sesion.canalInternet}==1 and !${sesion.enPlazoVentaInternet}">
								<span th:text="${sesion.textoFechasInternet}"></span>
							</div>
							<a th:href="'../entrada/' + ${sesion.id}" th:text="#{comprarEntradas}" class="button button-flat-caution" th:if="${sesion.enPlazoVentaInternet}">Comprar entradas</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>