<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../../css/estilo.css"></link>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<h1 th:text="#{titulo}">Datos del evento seleccionado</h1>
	<div class="evento-tipo" th:text="${evento.parTipoEvento.nombreEs}"></div>
	<div class="evento-imagen">
		<img th:src="${evento.id} + '/imagen'" />
	</div>
	<div class="evento-detalles">
		<div class="evento-titulo" th:text="${evento.tituloEs}"></div>
		<div class="evento-companyia" th:text="${evento.companyiaEs}"></div>
		<div class="evento-duracion" th:text="${evento.duracionEs}"></div>
		<div class="evento-caracteristicas"
			th:text="${evento.caracteristicasEs}"></div>
		<div class="evento-premios" th:text="${evento.premiosEs}"></div>
		<div class="evento-interpretes" th:text="${evento.interpretesEs}"></div>
		<div class="evento-descripcion" th:text="${evento.descripcionEs}"></div>
	</div>
	<div class="evento-sesiones">
		<table>
			<thead>
				<th th:text="#{dia}">Día</th>
				<th th:text="#{hora}">Hora</th>
				<th th:text="#{precio}">Precio</th>
				<th></th>
			</thead>
			<tbody>
				<tr th:each="sesion : ${sesiones}">
					<td th:text="${#dates.format(sesion.fechaCelebracion, 'dd/MM/yyyy')}"></td>
					<td th:text="${sesion.horaCelebracion}"></td>
					<td th:text="${sesion.canalInternet}"></td>
					<td><a th:href="'../entrada/' + ${sesion.id}" th:text="#{comprarEntradas}">Comprar entradas</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>