<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../../css/estilo.css"></link>
</head>
<body>
	<h1 th:text="#{titulo}">Localización de las entradas</h1>

	<div class="">
		<h1 th:text="${evento.tituloEs}"></h1>
		<span th:text="#{sesion}">Sesión:</span>&nbsp;<span th:text="${#dates.format(sesion.fechaCelebracion, 'dd/MM/yyyy')}"></span>
		<span th:text="${sesion.horaCelebracion}"></span>
		<span th:text="${sesion.canalInternet}"></span>
	</div>
		
	<form action="" method="POST">
		<h3 th:text="#{plano}">Plano del Paraninfo</h3>
		<div class="entrada-plano"></div>
		<h3 th:text="#{datosPersonales}">Datos personales</h3>
		<div class="entrada-datos">
			<label th:text="#{nombre}">Nombre</label> 
			<input type="text" name="nombre" th:placeholder="#{nombre}" placeholder="Nombre"/> 
			<label th:text="#{apellidos}">Apellidos</label> 
			<input type="text"	name="apellidos" th:placeholder="#{apellidos}" placeholder="Apellidos"/>
			<label th:text="#{telefono}">Teléfono confirmación</label> 
			<input type="text"	name="telefono" th:placeholder="#{telefono}" placeholder="Teléfono"/>
			<label th:text="#{email}">Email</label> 
			<input type="text"	name="email" th:placeholder="#{email}" placeholder="Email"/>
		</div>
		<h3 th:text="#{tipo}">Tipo de entrada</h3>
		<div class="entrada-datos">
			<input type="radio" name="tipo" value="normal"/><span th:text="#{tipoNormal}">Normal</span>
			<input type="radio" name="tipo" value="descuento"/><span th:text="#{tipoDescuento}">Descuento</span>
		</div>
		<input type="submit" th:value="#{comprar}" value="Comprar"/>
	</form>
</body>
</html>