<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="paranimf/common :: headerFragment"/>
<body>
	<div class="row">
		<div class="eight columns centered">
			<div class="alert-box alert"  th:if="${error}">
			  <span th:text="${error}"></span>
			</div>
			<div th:text="#{limiteTiempo}" />
			<form action="" method="POST">
				<input type="hidden" name="uuidCompra" th:value="${uuidCompra}" value="" />
			
				<div id="entradasDetalles" th:text="#{entradasDetalles}"></div>
				
				<div class="six columns">
					<div id="noNumeradasPlatea1" class="row">
						<h3 th:text="#{platea1}"></h3>
						<div class="row">
							<div class="four columns">
								<label class="inline right" th:text="#{normal}">Normal</label> 
							</div>
							<div class="eight columns">
								<input class="four" name="platea1Normal" th:value="${platea1Normal}" type="number" min="0" step="1" />
							</div>
						</div>
						<div class="row">
							<div class="four columns">
								<label class="inline right" th:text="#{descuento}">Descuento</label> 
							</div>
							<div class="eight columns">
								<input class="four" name="platea1Descuento" th:value="${platea1Descuento}" type="number" min="0" step="1" />
							</div>
						</div>		 
					</div>
	
					<div id="noNumeradasPlatea2" class="row">
						<h3 th:text="#{platea2}"></h3>
						<div class="row">
							<div class="four columns">
								<label class="inline right" th:text="#{normal}">Normal</label> 
							</div>
							<div class="eight columns">
								<input class="four" name="platea2Normal" th:value="${platea2Normal}" type="number" min="0" step="1" />
							</div>
						</div>
						<div class="row">
							<div class="four columns">
								<label class="inline right" th:text="#{descuento}">Descuento</label> 
							</div>
							<div class="eight columns">
								<input class="four" name="platea2Descuento" th:value="${platea2Descuento}" type="number" min="0" step="1" />
							</div>
						</div>		 
					</div>
					
				</div>	
				
				<div id="totalNoNumeradas" class="six columns row">
					<div><span>Butacas: </span><span id="totalButacas">0</span> €</div>
					<div><span>Gastos de gestión: </span><span id="gastosGestion" th:text="${#numbers.formatDecimal(gastosGestion, 1, 'POINT', 2, 'COMMA')}"></span> €</div>
					<div id="lineaTotalNoNumeradas"><span>Total: </span><span id="total">0</span> €</div>
					<div id="botonPagarNoNumeradas" class="six columns centered">
						<input class="button button-flat-primary " type="submit" th:value="#{comprar}" value="Pagar compra" />
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<script th:attr="src=${baseUrl + '/js/jquery-1.9.1.min.js'}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function(){
			$('input[type=number]').keyup(function() {
				soloNumeros(this);
				actualizaTotal();
			});
			$('input[type=number]').change(function() {
				actualizaTotal();
			});
			
			actualizaTotal();
		});
	
		function soloNumeros(input)
		{
			var valor = $(input).val();
			
			if (valor.match(/\D/) || valor=='')
				$(input).val(valor.replace(/\D/, ''));
		}
		
		function actualizaTotal()
		{
			var NORMAL1 = /*[[${precioNormal_platea1}]]*/ "";,
			    DESCUENTO1 = /*[[${precioDescuento_platea1}]]*/ "";,
		    	NORMAL2 = /*[[${precioNormal_platea2}]]*/ "";,
		    	DESCUENTO2 = /*[[${precioDescuento_platea2}]]*/ "",
		    	GASTOS_GESTION = /*[[${gastosGestion}]]*/ "";
		    
			var platea1Normal = $('input[name=platea1Normal]').val();
			var platea1Descuento = $('input[name=platea1Descuento]').val();
			var platea2Normal = $('input[name=platea2Normal]').val();
			var platea2Descuento = $('input[name=platea2Descuento]').val();
			
			if (platea1Normal == '')
				platea1Normal = 0;
			
			if (platea1Descuento == '')
				platea1Descuento = 0;			

			if (platea2Normal == '')
				platea2Normal = 0;
			
			if (platea2Descuento == '')
				platea2Descuento = 0;
			
			var totalButacas = platea1Normal*NORMAL1 + platea1Descuento*DESCUENTO1 + platea2Normal*NORMAL2 + platea2Descuento*DESCUENTO2;
			var total = totalButacas + GASTOS_GESTION;
			
			if (totalButacas == 0)
			{
				$('#total').text('0');
				$('#totalButacas').text('0');
			}	
			else
			{	
				$('#total').text(total.toFixed(2));
				$('#totalButacas').text(totalButacas.toFixed(2));
			}	
		}
	/*]]>*/		
	</script>
</body>
</html>